RewriteEngine On

RewriteRule ^logistics/$ /logistics/login/
RewriteRule ^shirts/([0-9]+)/$ /logistics/shirts/shirt.php?id=$1
RewriteRule ^receipt.php$ /logistics/receipt/ [R=301]
RewriteRule ^adduser.php$ /logistics/adduser/ [R=301]
RewriteRule ^addpage.php$ /logistics/addpage/ [R=301]
RewriteRule ^login.php$ /logistics/login/ [R=301]
RewriteRule ^shirts.php$ /logistics/shirts/ [R=301]

